@model Dossier

@{
    ViewData["Title"] = "Dossier";
}
<h1>Mijn Dossier</h1>
<table class="table">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Iban</th>
            <th>Bsn</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.volledigenaam
            </td>
            <td>
                @Model.IBAN
            </td>
            <td>
                @Model.BSN
            </td>
        </tr>
    </tbody>
</table>